/*Video*/
#video-container {
  width: 62%;
}

.video-player {
  width: 100%;
  position: relative;
  user-select: none;
}

#video {
  width: 100%;
}

/* Controles del video */
#control-range {
  width: 99%;
  position: absolute;
  margin: 0 0 38px 5px;
  left: 0;
  bottom: 10px;
  color: black;
  background: grey ;
  appearance: none;
  border-radius: 5px;
  height: 5px;
  opacity: 0.7;
  
}
#control-range:hover {

  opacity: 1;

}

#control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
  cursor: pointer;

}




.control-buttons {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 30px;
}

.control-icons {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  padding: 5px;
  border-radius: 100%;
  transition: 0.2s;
  background-color: rgb(38, 38, 38);
}

.control-icons:hover {
  background-color: rgb(78, 78, 78);
  cursor: pointer;
}

.control-icons:first-child {
  margin-left: 0;
}

#controlVolume {
  position: absolute;
  margin-left: 5px;
  margin-top: 10px;
  background: grey ;
  appearance: none;
  border-radius: 5px;
  height: 7px;
  opacity: 1;
}

#controlVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 13px;
  border-radius: 50%;
  background: rgb(150, 150, 150);
  cursor: pointer;

}


/* Descripción del video */
.video-description {
  margin-left: 5px;
}
.video-description h2 {
  margin: 15px 0;
}
