/* Lista de videos */
#video-list {
  margin-left: 25px;
}
#video-list li a {
  text-decoration: none;
  color: white;
  display: flex;
  padding-right: 20px;
}
#video-list li {
  list-style: none;
  margin-bottom: 15px;
}
#video-list h3 {
  margin-top: 5px;
  margin-left: 10px;
}

.miniatures {
  width: 180px;
}
