/*Video*/
#video-container {
  width: 62%;
}

.video-player {
  width: 100%;
  position: relative;
  user-select: none;
}

#video {
  width: 100%;
}
/*Duracion*/
.duration-container {
  width: fit-content;
  padding-left: 10px;
  display: flex;
  gap: 0.25rem;
}

/* Controles del video */
#control-range {
  width: 99%;
  position: absolute;
  margin: 0 0 38px 5px;
  left: 0;
  bottom: 10px;
  color: black;
  background: grey;
  appearance: none;
  border-radius: 5px;
  height: 5px;
}

#control-range:hover {
  opacity: 1;
}

#control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.control-buttons {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 3%;
}

.simple-controls {
  display: flex;
  align-items: center;
}

.control-icons {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  padding: 5px;
  border-radius: 100%;
  transition: 0.2s;
  background-color: rgb(78, 78, 78);
}

.control-icons:hover {
  background-color: rgb(125, 125, 126);
  cursor: pointer;
}

.control-icons:first-child {
  margin-left: 0;
}

/*Volumen */
.volume-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: auto;
}

#controlVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 13px;
  border-radius: 50%;
  background: rgb(150, 150, 150);
  cursor: pointer;
}

/* Descripción del video */
.video-description {
  margin: 0 5px;
}
.video-description h2 {
  margin: 15px 0;
  color: white;
}
.video-description p {
  font-size: 0.92rem;
}

@media (max-width: 490px) {
  #controlVolume {
    display: none;
  }
}
